.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.footer-content-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
  font-size: 50px;
}

.footer-content-right .icon {
  color: brown;
  cursor: pointer;
  text-decoration: none;
}

.footer-content-right .icon:hover {
  border-color: #b415ff;
  transform: scale(1.2);
}
.footer-content-left {
  font-size: 20px;
}

@media (max-width: 768px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
